body {
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/664/original/landscape1.png?1708069858');
}

.main-section{
    background-color:#d6f0fc;
    color: black;
    padding: 20px;
    max-width:600px;
    margin: 85px auto;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.intro{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    text-align:center;
    padding-top:30px;
    font-size: 80px;
}

.city-input{
    background-color:#fcf4d9;
    font-family: "Protest Revolution", sans-serif;
    border-radius:6px;
    width:75%;
    font-size:16px;
    padding: 15px 20px;
}

.submit-button{
    color:#FA7B5B;
    background-color: white;
    padding: 15px 20px;
    font-size: 16px;
    border-radius:6px;
    font-family: "Protest Revolution", sans-serif;
}

.submit-button:hover{
    cursor: pointer;
    background-color: #FA7B5B;
    color:white;
    transition:all 200ms linear;
}

.credits{
    border-top: 1px solid #f9f7fe;
    text-align: center;
    font-size: 10px;
    padding: 20px 0 0 0;
}

a {
    font-family: "Protest Revolution", sans-serif;
    color: black;
}

a:hover{
    color:#FA7B5B;
}

.weather-data{
    font-family: "Protest Revolution", sans-serif;
    display:flex;
    padding: 18px 10px;
    justify-content: space-between;  
    
}

.weather-info {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

}

.city-name{
    font-size: 38px;
    line-height: 48px;
}

strong{
    color:#FA7B5B;
}

#humidity, #windSpeed{
    color: #FA7B5B; 
}

.temperature{
    margin-top: 30px;
    margin-right: 28px;
}

.current-temp{
    font-size:85px;
}

.emoji{
    width: 80px;
    position:relative;
    top:10px;    
}
 
.degree-celcius{
    position:relative;
    top:-50px;
    font-size:20px;

}

.forecasts{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: "Protest Revolution", sans-serif;
    padding:5px;
}

#day{
    text-align:center;
}

.forecast-temps{
    text-align: center;
}

#max{
    margin-right:13px;
}

.forecast-icon img{
    display:block;
}

.min{
    padding-left:5px;
}

@media (max-width:800px){
    body{
        background: #1786CE;
    }

    .intro{
        font-size:50px;
    }

    .main-section{
        margin: 12px;
    }

    .main-section form{
        display:flex;
    }

    .temperature{
        position:absolute;
        right:0;
    }

    .current-temp{
        font-size:60px;
    }

    .degree-celcius{
        font-size:15px;
    }

    .city-name{
        font-size:40px;
    }

    #dateTime, #description,#humidity,
    #windSpeed, .humidity_wind{
        font-size: 13px;
    }

    #icon{
        display:none;
    }

    .forecasts, .forecast-day{
        font-size:15px;
        padding:2px;
        text-align: center;
    }

    .forecast-icon img{
        width:60px;
    }

    
    
}