body {
    background-color:#fcf4d9;
}

.main-section{
    background-color:#5f5dbd;
    color: white;
    padding: 30px;
    max-width:600px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.intro{
    font-family: 'DM Serif Display', serif;
    text-align:center;
}

.city-input{
    background-color:#fcf4d9;
    font-family: 'DM Serif Display', serif;
    border-radius:6px;
    width:75%;
    font-size:16px;
    padding: 15px 20px;
}

.submit-button{
    color:#5f5dbd;
    background-color: white;
    padding: 15px 20px;
    font-size: 16px;
    border-radius:6px;
    font-family: 'DM Serif Display', serif;
}

.credits{
    border-top: 1px solid #f9f7fe;
    text-align: center;
    font-size: 10px;
    padding: 20px 0 0 0;
}

a {
    font-family: 'DM Serif Display', serif;
    color: white;
}

a:hover{
    color:#fcf4d9;
}

.weather-data{
    font-family: 'Montserrat', sans-serif;
    display:flex;
    padding: 18px 0;
    justify-content: space-between;  
    
}

.weather-info {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

}

.city-name{
    font-size: 38px;
    line-height: 48px;
}

strong{
    color:#f9b6c9;
}

#humidity, #windSpeed{
    color: #f9b6c9;
}

.temperature{
    margin-top: 30px;
    margin-right: 28px;
}

.current-temp{
    font-size:85px;
}

.emoji{
    font-size: 62px;
}
 
.degree-celcius{
    position:relative;
    top:-50px;
    font-size:20px;

}